/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
    vertical-align: baseline;
    max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Styles */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-size: 1.3rem;
}

p {
    line-height: 1.4;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

/* Page Styles */

.navTop {
    margin: 30px 0 40px 0;
    display: flex;
    align-items: flex-end;
}

.navTop ul {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.jumboImg {
    margin: 30px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.middle-content .boxes .box {
    width: 12.5%;
    min-width: 100px;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 1.4rem;;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* Media Queries */

@media (max-width: 800px) {
        
    .container {
        width: 90%;
    }
    
    .top-content, .bottom-content {
        flex-direction: column;
    }
    
    .top-content .text-container {
        width: 100%;
    }

    .bottom-content .text-container {
        margin-bottom: 20px;
    }

    .bottom-content .text-container h2 {
        margin-bottom: 10px;
    }

    footer nav {
        width: 100%;
        justify-content: space-evenly;
    }

}

@media (max-width: 500px) {
    
    #lambdaImg {
        margin-bottom: 50px;
    }
    
    .navTop {
        flex-direction: column;
        align-items: center;
    }

    .navTop ul {
        flex-direction: column;
    }

    .jumboImg {
        width: 100%;
        overflow: hidden;
        /* Img height + extra margin due to position absolute */
        margin-bottom: 183px; 
    }

    .jumboImg img {
        max-width: none;
        height: 153px;
        width: 800px;
        position: absolute;
        left: 50%;
        /* Half image width */
        margin-left: -400px;
        overflow: hidden;
    }

    .container {
        width: 100%;
    }

    .top-content, .bottom-content {
        width: 90%;
        margin: 0 auto;
    }

    .middle-content h2 {
        margin: 20px 0;
        text-align: center;
    }

    .boxes {
        flex-direction: column;
    }

    .box {
        align-self: center;
        margin: 0;
        box-sizing: content-box;
        padding: 40px;
    }
}
/* Box Colors */

#box1 {
    background: teal;
}

#box2 {
    background: gold;
}

#box3 {
    background: cadetblue;
}

#box4 {
    background: coral;
}

#box5 {
    background: crimson;
}

#box6 {
    background: forestgreen;
}

#box7 {
    background: darkorchid;
}

#box8 {
    background: hotpink;
}

#box9 {
    background: indigo;
}

#box10 {
    background: dodgerblue;
}